<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <p>Smart Farm IoT Web App</p>
  </head>

  <header>
    <div class="profile">
      <img
        src="../../../assets/img/camt_digital.jpg"
        alt="Profile Picture"
        class="profile-picture"
      />
    </div>
    <h1>Smart Farm IoT Web App</h1>
    <div class="icon">
      <a routerLink="/settings"
        ><i class="fa fa-gear text-white" style="font-size: 36px"></i
      ></a>
    </div>
  </header>

  <body>
    <div class="back-button">
      <a routerLink="/admin/product-manage">
        <i class="fa fa-arrow-left text-white" style="font-size: 40px"></i>
      </a>
    </div>

    <div class="container"></div>
  </body>
</html>
