body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  top: 0;
  width: 100%;
  display: flex;
  color: #fff;
  position: fixed;
  padding: 10px 0;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  background-color: #14c173;
}

.icon {
  position: absolute;
  right: 20px;
}
.container {
  width: 100%;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sensor-data {
  margin-bottom: 20px;
}
.actuator-control {
  margin-bottom: 20px;
}
footer {
  bottom: 0;
  width: 100%;
  color: #fff;
  position: fixed;
  padding: 10px 0;
  text-align: center;
  background-color: #14c173;
}

h1 {
  margin-top: 15px;
}
.card {
  margin: 5px;
  width: 350px;
  height: 450px;
}
